.field {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    input {
        display: none !important;
    }
    img {
        width: 4rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .action {
        span {
            border: 2px solid white;
            padding: 0 1em;
            border-radius: 100rem;
            background-color: #e70060;
            cursor: pointer;
            color: white !important;
        }
    }
}
