.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    gap: 1rem;
    left: 0;
    right: 0;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: auto;
    direction: ltr;
    z-index: 2;
    max-width: var(--app-max-width);

    .left {
        .logo {
            img {
                width: 7rem;
            }
        }
    }

    .mid {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        gap: 1rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            font-size: 0.8rem;
            cursor: pointer;
            position: relative;
            svg {
                font-size: 1rem;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -0.25rem;
                right: 0;
                width: 0%;
                height: 1px;
                background-color: white;
                transition: all 0.5s ease;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;

        .language {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            cursor: pointer;
            font-size: 0.8rem;
            background-color: white;
            padding: 0.25em 1em;
            border-radius: 0.25rem;

            * {
                color: black !important;
            }
            svg {
                width: 1rem;
                height: 1rem;
                font-size: 1rem;
            }
        }
    }
}
