.text {
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 1rem !important;
    color: #d9d9d9;
    gap: 0.5rem;
    border: 1px solid currentColor;
    padding: 0.5em 0.5em;
    border-radius: 0.25rem;
    width: 100%;
    position: relative;
    * {
        color: inherit;
    }

    .field {
        width: 100%;
        height: 100%;
        // padding-right: 1.25rem;
        textarea {
            background-color: transparent;
            width: 100%;
            resize: none;
            color: inherit;
            border: none;
            outline: none;
            font-family: inherit;
            font-size: inherit;
            padding: 0;
        }
        input {
            all: unset;
            width: 100%;
        }
    }

    &:lang(FA) {
        input,
        textarea {
            direction: rtl;
            font-size: 0.75rem;
        }
    }
}

.hasError {
    border-color: red;
    * {
        color: red;
    }
    * {
        &::placeholder {
            color: red;
        }
    }
}

.error {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem !important;
    background-color: rgba(255, 0, 0, 0.422);
    left: 0.5rem;
    animation: 1s ease fade forwards;
    p {
        color: white;
        padding: 0.25rem 1rem;
        font-size: 0.5rem !important;
        margin: 0;
    }
}

body:lang("FA") {
    .text {
        direction: rtl;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
