@import "src/assets/css/mixins";

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
  background-color: rgb(228, 228, 228);

  @include breakpoint-max(md) {
    height:40vh;
  }

  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .backgroundImg {
      margin: auto;
      filter: grayscale(100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        black 30%,
        black 70%,
        transparent
      );
      mask-image: linear-gradient(
        to bottom,
        transparent,
        black 30%,
        black 70%,
        transparent
      );
    }
  }

  .info {
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    max-width: 100ch;
    padding: 0px 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    @include breakpoint-max(md) {
      max-width: 85ch;
    }
    @include breakpoint-max(sm) {
      scale: 0.8;
    }
    p {
      line-height: 2;
    }
    * {
      color: black;
    }
  }
}
