@import "src/assets/css/mixins";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  width: 100%;
  position: relative;
  .drawer {
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: #b6012e;
    top: 5rem;
    opacity: 0;
    transition: all 1s ease;

    .title {
      width: 100%;
      position: sticky;
      top: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem !important;
      backdrop-filter: blur(0.5rem);
      color: black;

      font-family: smooch-sans;
      font-size: 2rem;
      font-weight: 600;
      @include breakpoint-max(md) {
        top: 3.5rem;
      }
    }
  }

  .showDrawer {
    opacity: 1 !important;
  }

  .top {
    width: 80%;
    height: 100vh;
    min-height: 100vh;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8vh;

    @include breakpoint-max(sm) {
      margin-top: 17vh;
      margin-bottom: 5rem;
    }

    .info {
      display: flex;
      grid-template-columns: var(--services-section-right-width) 25rem;
      justify-content: center;
      align-items: center;
      gap: var(--services-section-gap);

      @include breakpoint-max(sm) {
        flex-direction: column;
      }

      .right {
        min-width: 20rem;
        img {
          border-radius: 1rem;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .slider {
      margin-top: 3rem;
      @include breakpoint-max(sm) {
        margin: 3rem 0;
      }
      .slide {
        img {
          border-radius: 0.75rem;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    @include breakpoint-max(md) {
      top: 120vh;
    }

    .services {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding: 0 4em;
      .row {
        align-items: center;
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            max-width: 26rem;
            aspect-ratio: 16/10;
            border-radius: 1rem;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  &:lang(EN) {
    .top {
      .info {
        flex-direction: row-reverse;
        * {
          text-align: end;
          align-items: end;
        }
      }
    }

    .services {
      .row {
        gap: 0;
        direction: ltr !important;
      }
    }

    @media (max-width: 600px) {
      .row {
        gap: 1rem !important;
        .left {
        }
        .right {
          display: flex !important;
          flex-direction: column;
          align-items: start !important;
          justify-content: start !important;
          * {
            text-align: start !important;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .hero {
    margin-top: 3rem;
  }
  .top {
    display: flex;
    flex-direction: column !important;
    .info {
      display: flex;
      flex-direction: column !important;
    }
  }
  .services {
    padding: 0 3.25em !important;

    .row {
      grid-template-columns: 1fr !important;
      width: 100% !important;
      img {
        max-width: 1005 !important;
      }
    }
  }
}
