.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/images/backgrounds/hero.png");
    padding: 10em 5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;

    .logo {
        .image {
            width: 22rem;
            margin-left: 3rem;
        }
        .text {
            width: 25rem;
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        direction: rtl;
        img {
            width: 30rem;
        }
    }

    .description {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 2540rem;
        text-align: center;
        direction: rtl;
        margin-top: 4rem;

        .slug {
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: 4rem;
        }

        .content {
            max-width: 40ch;
            font-size: 1.5rem;
        }
    }

    .contact {
        margin-top: 1rem;
        direction: rtl;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        .row {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 1rem;

            .right {
                direction: ltr;
            }
            .left {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 0.25rem;
                font-size: 1.5rem;
                flex-direction: row-reverse;
            }
        }
    }
}
