@import "src/assets/css/mixins";

@import "src/assets/css/mixins";

.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--home-section-gap);
  direction: ltr;
  background-color: var(--color-dark-background);
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  font-family: smooch-sans;
  height: max-content !important;
  min-height: 100vh !important;
  @media (max-width: 600px) {
    flex-direction: column-reverse !important;
    gap: 2rem;
    min-height: max-content !important;
    .left {
      width: 100%;
    }
  }
}

.left {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  p {
    font-size: 1.5rem;
    font-size: 19px;
    line-height: 2;
    font-family: syne;
    font-weight: 400;
  }
}

.right {
  img {
    max-width: 20rem;
  }
}

.solutions:lang(FA) {
  .left {
    align-items: end;
  }
}

.solutions:lang(EN) {
  flex-direction: row-reverse;
  .left {
    align-items: start;
  }
}
