@import "src/assets/css/mixins";

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
  row-gap: 5rem;
  justify-items: center;
  margin: 0 auto;
  max-width: 90vw;

  @include breakpoint-max(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-max(sm) {
    grid-template-columns: repeat(1, 1fr);
  }

  .category {
    width: 18rem;
    min-height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    padding: 2em 1em;

    background-color: rgb(46, 46, 46);
    border-radius: 1rem;
    border-bottom: 5px solid rgb(55, 55, 55);
    position: relative;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      img {
        object-fit: contain;
        border-radius: 1rem;
        background: url("/images/products-page/box.png");
        background-size: contain;
        background-repeat: no-repeat;
        aspect-ratio: 1 / 1;
        width: 12rem;
      }

      h2 {
        font-family: smooch-sans;
        letter-spacing: 0.08rem;
        font-weight: 600;
        font-size: 1.25rem;

        text-align: center;
        align-content: center;
        max-height: 7.5rem;

        flex: 1;
      }

      button {
        font-family: syne;
        padding: 0.25em 1em;
        margin-top: auto;
        span {
          font-size: 0.77rem;
        }
      }
    }
  }
}
