.aboutUs {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: var(--home-section-gap);
  align-items: center;
  overflow: hidden;
  background-color: var(--app-section-background);
  font-family: smooch-sans;
  height: max-content !important;
  min-height: 100vh !important;
  width: 100% !important;
  padding: 2em;
  .left {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    gap: 0.7rem;

    button {
      margin-bottom: 2rem;
    }

    h1 {
      // direction: ltr;
      font-size: 2.2rem;
      font-weight: 500;
    }

    p {
      font-family: syne;
      font-size: 1rem;
      max-width: 70ch;
      line-height: 2rem;
      text-align: justify;
      direction: ltr;
    }

    button {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    img {
      width: 10rem;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 0.75rem;
      border: 2px solid rgba(255, 255, 255, 0.5);
    }

    .info {
      padding-left: 1em;
      h2 {
        direction: ltr;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.03rem;
      }
      p {
        direction: ltr;
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.7;
        font-size: 0.8rem;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .first {
      display: flex;
      gap: 1rem;
    }

    .second {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      width: max-content;
    }

    .third {
      display: flex;
      position: absolute;
      flex-direction: column;
      left: 10rem;
      top: 5rem;
      gap: 1rem;
    }
  }
}

html:lang(FA) {
}

html:lang(EN) {
}

@media screen and (max-width: 600px) {
  html:lang(EN) {
    .aboutUs {
      flex-direction: column-reverse;
      .right {
        img {
          width: 7rem;
        }
        .info {
          font-size: 1rem;
          padding: 0;
          h2 {
            font-size: 22px;
            max-width: 15ch !important;
            text-wrap: wrap;
          }
        }
      }
    }
  }

  /* … */
  .aboutUs {
    flex-direction: column;
    padding-top: 2em;
    .right {
      width: 17rem;
      img {
        width: 8rem;
      }

      .info {
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.7rem;
        }
      }

      .third {
        left: 10rem;
      }
    }
  }
}
