.step {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
    svg {
        background-color: gray;
        border-radius: 50%;
        padding: 0.25rem !important;
        transition: all 2s ease;
        font-size: 1.5rem;
        * {
            color: white !important;
        }
    }
}

.isActive {
    opacity: 1;
    svg {
        background-color: red;
        font-size: 2.25rem;
        padding: 0.5rem !important;
    }
    span {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    .step {
        gap: 0.25rem;
        span {
            display: none;
            font-size: 0.6rem;
            color: black !important;
        }
    }

    .isActive {
        width: 30rem !important;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
