@import "src/assets/css/mixins";

.career {
  position: relative;
}

.front {
  display: grid;
  grid-template-columns: 16rem 1fr;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2em;

  border-radius: 1rem;

  @include breakpoint-max(md) {
    padding: 1.5rem !important;
    flex-direction: column;
  }
  @include breakpoint-max(xs) {
    padding: 1rem !important;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    @include breakpoint-max(xs) {
      font-size: 0.8rem;
      margin: 0.5rem;
    }
    .requirements {
      list-style: disc;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      opacity: 0.75;
      @include breakpoint-max(xs) {
        gap: 0.1rem;
      }
      li {
        list-style: disc;
        margin-right: 1.5rem;
        @include breakpoint-max(md) {
          line-height: 1.4;
        }
      }
    }

    .description {
      line-height: 2.25;
      margin-bottom: 0.5rem;
      @include breakpoint-max(md) {
        line-height: 1.8;
      }
    }
  }
  .right {
    @include breakpoint-max(xs) {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 1rem;
      object-fit: cover;
    }
  }

  &:lang(EN) {
    direction: ltr;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.back {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.special {
  background-color: #9b944e !important;
  border: 1px solid white;
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
  }
}
