.container {
    display: grid;
    width: 100%;
    direction: rtl;
    gap: 1rem;
}

.swiper {
    width: 100%;
}

.swiperContainer {
    display: grid;
    width: 100%;
}

.controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    gap: 0.5rem;
    width: 100%;
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        direction: rtl;
        width: max-content !important;
    }

    .leftArrow,
    .rightArrow {
        display: flex;
        font-size: 1.75rem;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            scale: 1.1;
        }
    }

    .disabledArrow {
        opacity: 0.5 !important;
    }

    .bullet {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.25);
        transition: all 0.5s ease;
        font-size: 0.6rem !important;
        width: 1em;
        height: 1em;
        cursor: pointer;
    }

    .activeBullet {
        background-color: white !important;
        scale: 1.25 !important;
    }

    .line {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.25);
        height: 1px;
        border-radius: 100rem;
    }
}
