@import "src/assets/css/mixins";

.highLight {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  font-size: 2.2rem !important;
  font-weight: 500 !important;

  &:lang(FA) {
    font-size: 1.75rem !important;
    font-family: iran-sans;
  }

  &:lang(EN) {
    font-size: 2.75rem !important;
    font-family: smooch-sans !important;
    text-transform: uppercase;
  }

  @include breakpoint-max(xs) {
    font-size: 1.3rem;
  }
}
