@import "src/assets/css/mixins";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  z-index: -10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .staticContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 3em;
    // padding-top: 0;
    height: 100%;
    background: url("/images/backgrounds/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    direction: ltr;

    .logo {
      height: max-content;
      width: 22rem;

      @include breakpoint-max(sm) {
        width: 17rem;
      }
      @include breakpoint-max(xs) {
        width: 12rem;
      }

      .text {
        text-align: center;
        display: flex;
        justify-content: center;
        white-space: nowrap;

        font-family: smooch-sans;

        h1 {
          font-size: 4rem;
          font-weight: 500;
          @include breakpoint-max(sm) {
            font-size: 3rem;
          }
          @include breakpoint-max(xs) {
            font-size: 2rem;
          }
        }
      }
    }

    .description {
      display: flex;
      align-items: center;
      flex-direction: column;

      text-align: center;

      height: 50%;
      // white-space: nowrap;
      margin-top: 5rem;
      gap: 3rem;
      height: max-content;
      @include breakpoint-max(xs) {
        gap: 3.5rem;
      }

      .slug {
        font-size: 1.75rem;
        font-weight: bold;
        font-family: roboto-flex;
        font-style: italic;
        @include breakpoint-max(xs) {
          font-size: 1.5rem;
        }
      }

      .content {
        font-size: 1.5rem;
        font-family: syne;
        @include breakpoint-max(xs) {
          font-size: 1.2rem;
        }

        @include breakpoint-max(sm) {
          br {
            display: none;
          }
        }
      }
    }

    .contact {
      margin-top: 1rem;
      direction: rtl;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      @include breakpoint-max(xs) {
        font-size: 1.1rem;
      }
      .row {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        .right {
          direction: ltr;
        }
        .left {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 0.35rem;

          flex-direction: row-reverse;
        }
      }
    }
  }
}
