.form {
    background-color: white;
    padding: 1.5em;
    gap: 1rem;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        height: 30rem;
        .animation {
            width: 100%;
            max-height: 12rem;
            position: absolute;
            top: 0;
        }
        .info {
            background-color: rgba(250, 250, 250, 0.75);
            z-index: 1;
            padding: 2em;

            h2,
            p {
                color: black;
            }
            .tabs {
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
                button {
                    &:hover {
                        color: black !important;
                        * {
                            color: inherit !important;
                        }
                    }
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: center;
            margin: 1em 0;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        .group {
            display: grid;
            gap: 1rem;
            h2 {
                text-align: center;
                color: black;
                font-size: 1.25rem;
            }
            animation: fade 1s ease forwards;
        }
    }

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: 0;

        .left {
            font-size: 0.8rem;
            border-radius: 0;
            h2 {
                font-size: 1rem;
            }
        }
        .right {
            border-radius: 0;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
