.form {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 1rem;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        .animation {
            width: 100%;
            max-height: 12rem;
            position: absolute;
            top: 0;
        }
        .info {
            background-color: rgba(250, 250, 250, 0.75);
            z-index: 1;
            padding: 2em;
            * {
                color: black;
            }
            h2 {
            }
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        padding: 1em;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: center;
    }

    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: 0;

        .left {
            font-size: 0.8rem;
            border-radius: 0;
            h2 {
                font-size: 1rem;
            }
        }
        .right {
            border-radius: 0;
        }
    }
}
