@import "src/assets/css/mixins";

.PostPress {
  // padding: var(--services-section-padding);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  background-color: black;
  width: 100%;
  height: 450vh;
  position: relative;

  // overflow-y: auto;


  .drawer {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0rem;

    left: 0;
    .title {
      width: 100%;
      height: 5rem;
      position: sticky;
      top: 4.7rem;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      z-index: 100;
      backdrop-filter: blur(0.5rem);
      background-color:  rgb(228, 0, 57);
      color: black;
      @include breakpoint-max(md) {
        top: 3.5rem;
      }
    }
  }

  .top {
    position: relative;
    margin-top: 8rem;
  
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
 
    // overflow: hidden;

    @include breakpoint-max(sm) {
      margin-top: 35vw;
      margin-bottom: 0rem;
    }
    .info {
      display: flex;
      grid-template-columns: var(--services-section-right-width) 25rem;
      justify-content: center;
      align-items: center;
      gap: var(--services-section-gap);
      max-width: 51rem;
      margin-bottom: 3rem;
      width: 80%;
      @include breakpoint-max(sm) {
        flex-direction: column;
      }

      .right {
        max-width: 30rem;
        img {
          border-radius: 1rem;
        }
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 2rem; 
        p {
          text-align: justify;
        }
      }
    }

    .slider {
      margin-top: 1rem;
      max-width: 50rem;
      margin-bottom: 7rem;
     
      width: 80%;
      .slide {
        img {
          border-radius: 0.75rem;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    margin-top: 8rem;
    width: 80%;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15rem;
    top: 100vh;

    .services {
      display: flex;
      flex-direction: column;

      max-width: 80rem;
      margin-top: 10rem;
      gap: 12rem;
      direction: rtl;

      .row {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include breakpoint-max(sm) {
          flex-direction: column;
        }
        .left {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            max-width: 490px;
            // min-width: 490px;
          }
        }
        .right {
          width: 100%;
          p {
            line-height: 2rem;
            text-align: justify;
          }
        }
      }
    }
  }
}
