@import "src/assets/css/mixins";

.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--home-section-gap);
  direction: ltr;

  background-color: var(--color-dark-background);
  padding: 2rem;

  width: 100%;

  overflow: hidden;

  font-family: smooch-sans;

  height: max-content !important;
  min-height: 100vh !important;

  @include breakpoint-max(md) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    direction: ltr;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    h1 {
      font-weight: 500;
      font-size: 2rem;
    }

    p {
      max-width: 53ch;
      line-height: 2rem;
      text-align: justify;
      direction: ltr;
      font-family: syne;
      font-size: 1.2rem;
    }

    button {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .right {
    margin-top: 2rem;
    width: var(--home-section-right-width);
  }
}
