@import "src/assets/css/mixins";

.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--home-section-gap);
  direction: ltr;
  height: 100vh !important;
  max-height:  100vh !important;
  background-color: var(--color-dark-background);
  padding: 2rem;

  width: 100%;
  // height: 100%;
  overflow: hidden;

  font-family: smooch-sans;

  @include breakpoint-max(md) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    direction: ltr;
    font-size: 1.2rem;
    h1 {
      font-weight: 500;
      font-size: 2rem;
    }
    p {
      max-width: 53ch;
      line-height: 2rem;
      text-align: justify;
      direction: ltr;
      font-size: 1.5rem;
    }

    button {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .right {
    width: var(--home-section-right-width);
  }
}
