@import "src/assets/css/mixins";

.hero {
  width: 100%;
  max-width: 1000px;
  display: flex;
  gap: 0rem;
  align-items: start;
  justify-content: center;
  position: relative;
  font-family: syne;

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  @include breakpoint-max(sm) {
    flex-direction: column;
  }
  .background {
    position: absolute;
    inset: 0;
    mix-blend-mode: luminosity;
    overflow: hidden;
    z-index: -1;
    top: 4rem;
    display: none;
  }

  .right {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    direction: ltr;
    .info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1rem;
      .row {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.05rem;
      }
    }

    .avatar {
      filter: grayscale(100%);
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff1e;
    border-radius: 1rem;
    padding: 2em;
    padding-top: 1em;
    margin: auto;

    @include breakpoint-max(xs) {
      width: 90%;
    }
    h1 {
      font-size: 2.5rem;
    }
    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      width: 25rem;

      .actions {
        grid-column: -1/1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &:lang(FA) {
    direction: rtl;
    text-align: right !important;
  }

  &:lang(EN) {
  }
}

@media (max-width: 500px) {
  .hero {
    max-width: 100%;
    gap: 1rem;
    overflow: hidden;

    .right {
      padding: 2em;
      img {
        width: 100%;
      }
    }
    .left {
      margin: unset !important;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      width: 100%;
      padding: 2em;
      form {
        width: 100% !important;
      }
    }
  }
}
