@import "src/assets/css/mixins";

.form {
  width: 90%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 15rem !important;

  font-size: 1rem;
  border: 1px solid;
  border-radius: 30px;

  @include breakpoint-max(sm) {
    margin-top: 5rem;
  }

  .labels {
    margin: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }

  .list {
    width: 90%;
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .listItem {
    margin-bottom: 0.5rem;
    padding: 0.5rem;

    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .middle {
    width: 90%;
    margin-bottom: 2rem;

    button {
      height: 3rem;
    }

    .Input {
      width: 80%;
      margin: 1rem 0;
      font-size: 18px;

      @include breakpoint-max(sm) {
        width: 100%;
        font-size: 1rem;
      }
      input {
        font-size: 18px;
      }
    }

    .contents {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

      button {
        height: 100%;
        margin: 1rem;
      }
    }

    &.personalInfo {
      grid-template-columns: repeat(4, 1fr);
      .Input {
        width: 85%;
        margin: 1rem;
        @include breakpoint-max(sm) {
          margin: 0.4rem 1rem;
        }
      }
    }

    &.softwares {
      .contents {
        display: flex;
        align-items: center;
        @include breakpoint-max(sm) {
          flex-wrap: wrap;
        }
      }
    }
    &.languages {
      .contents {
        display: flex;
        align-items: center;
        @include breakpoint-max(sm) {
          flex-wrap: wrap;
        }
      }
    }
    &.skills {
      .contents {
        display: flex;
        align-items: center;
        @include breakpoint-max(sm) {
          flex-wrap: wrap;
        }
      }
    }
    &.upload {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include breakpoint-max(sm) {
      width: 80%;
    }
  }
}
