@import "src/assets/css/mixins";

.solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--home-section-gap);
  direction: ltr;
  background-color: var(--color-dark-background);
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  font-family: smooch-sans;
  height: max-content !important;
  min-height: 100vh !important;
}

html:lang("FA") {
  .solutions {
  }
}

html:lang("EN") {
  .solutions {
    flex-direction: row-reverse;
  }
}

@media (max-width: 600px) {
  .solutions {
    flex-direction: column-reverse !important;
  }
}
