html {
    // Background
    --color-dark-background: #202020;

    // Fonts
    --color-dark-font-primary: white;
    --color-dark-font-secondary: #e70060;
    --color-dark-font-description: #d9d9d9;
}
