@font-face {
  font-family: iran-sans;
  src: url("/fonts/iran-sans.ttf") format("truetype");
}

@font-face {
  font-family: roboto-flex;
  src: url("/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: smooch-sans;
  src: url("/fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: syne;
  src: url("/fonts/Syne/Syne-VariableFont_wght.ttf") format("truetype");
}

html {
  font-family: iran-sans, roboto-flex, smooch-sans, roboto-flex, tahoma;
  * {
    font-family: inherit !important;
  }
  --font-fa-primary: iran-sans;
  --font-en-primary: roboto-flex;
}

body:lang(FA) {
  font-family: iran-sans;
  p {
    line-height: 2.25 !important;
    direction: rtl !important;
  }
}

body:lang(EN) {
  font-family: smooch-sans, syne, iran-sans !important;
}
