* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: var(--color-dark-font-description);
}

body {
    background-color: var(--color-dark-background);
    max-width: 1400px;
    margin: auto;
}


img {
    width: 100%;
    display: flex;
}