html {
    --app-max-width: 1200px;

    // Home Page
    --home-section-right-width: 20rem;
    --home-section-gap: 3rem;
    --home-section-padding: 4em 2em;

    // Services
    --services-section-right-width: 20rem;
    --services-section-gap: 3rem;
    --services-section-padding: 4em 2em;
}
