.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25rem;
  width: max-content;
  padding: 0.33em 1em;
  border-radius: 0.25rem;
  cursor: pointer;
  direction: rtl;

  span {
    font-size: 0.9rem;
    white-space: nowrap;
  }
  @media (max-width: 600px) {
    span {
      font-size: 0.8em !important;
    }
  }
}

.primary {
  background-color: var(--color-dark-font-secondary);
  color: white;
}

.success {
  background-color: var(--bs-success);
}

.danger {
  background-color: var(--bs-danger);
}

.none {
  padding: 0px;
}

.outline {
  border: 1px solid var(--color-dark-font-secondary);
  background-color: transparent;
}

.disable {
  border: 1px solid var(--color-dark-font-secondary);
  opacity: 0.3;
}

.button:lang(FA) {
  span {
    font-size: 0.9rem !important;
  }
}
