.continer {
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 1rem !important;
    color: #d9d9d9;
    gap: 0.5rem;
    border: 1px solid currentColor;
    padding: 0.5em 0.5em;
    border-radius: 0.25rem;
    width: 100%;
    position: relative;
    height: max-content;
    * {
        color: inherit;
    }

    .field {
        width: 100%;
        height: 100%;
        // padding-right: 1.25rem;
        textarea {
            background-color: transparent;
            width: 100%;
            resize: none;
            color: inherit;
            border: none;
            outline: none;
            font-family: inherit;
            font-size: inherit;
            padding: 0;
        }
        input {
            all: unset;
            width: 100%;
        }

        select {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            box-shadow: none !important;
            option {
                background-color: white;
                color: black;
            }
        }
    }

    &:lang(FA) {
        input,
        textarea {
            direction: rtl;
            font-size: 0.75rem;
        }
    }

    &:lang(EN) {
        .error {
            left: initial !important;
            right: 1rem;
            height: 1rem;
            * {
                font-size: 0.7rem !important;
                color: white;
                text-transform: capitalize;
            }
        }
    }
}

.hasError {
    border-color: red;
    * {
        color: red;
    }
    * {
        &::placeholder {
            color: red;
        }
    }
}

.error {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem !important;
    background-color: rgb(130, 0, 0);
    left: 1rem;
    top: -0.5rem;
    animation: 1s ease fade forwards;
    padding: 0rem 0.5rem;
    gap: 0.25rem;

    p {
        color: white;
        font-size: 0.5rem !important;
        margin: 0;
    }

    * {
        color: white !important;
    }

    svg {
        font-size: 0.8rem !important;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
