.careers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-right: 2px solid white;
    width: max-content;
    margin: auto;
    margin-top: 4rem;
    padding-right: 2em;
}
