@import "src/assets/css/mixins";

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
  background-color: rgb(228, 228, 228);

  @include breakpoint-max(md) {
    height: 40vh;
  }
  direction: ltr;
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .backgroundImg {
      margin: auto;
      filter: grayscale(100%);
      opacity: 0.6;
      -webkit-mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
      mask-image: linear-gradient(to bottom, transparent, black 30%, black 70%, transparent);
    }
  }

  .info {
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    padding: 0px 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 50rem;
    font-family: smooch-sans;
    letter-spacing: 0.05rem;

    @include breakpoint-max(md) {
      padding: 0px 1em;
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1rem;
      direction: rtl;
    }

    p {
      line-height: 1.5;
      max-width: 100ch;
    }
    * {
      color: black;
    }

    &:lang(EN) {
      * {
        direction: ltr;
      }
      p {
        font-size: 1.5rem;
      }
    }
    &:lang(FA) {
      align-items: end !important;
      * {
        direction: rtl;
        text-align: right !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 60dvh;
  }
  .info {
    h1 {
      font-size: 1.25rem !important;
      line-height: 1.25 !important;
    }
    p {
      font-size: 0.9rem !important;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 1em;
      backdrop-filter: blur(2px);
    }
  }
}
