@import "src/assets/css/mixins";

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
  background-color: rgb(228, 228, 228);

  @include breakpoint-max(md) {
    height: 40vh;
  }
  direction: ltr;
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .backgroundImg {
      margin: auto;
      filter: grayscale(100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        black 30%,
        black 70%,
        transparent
      );
      mask-image: linear-gradient(
        to bottom,
        transparent,
        black 30%,
        black 70%,
        transparent
      );
    }
  }

  .info {
    left: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    max-width: 90ch;
    padding: 0px 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    font-family: smooch-sans;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;

    @include breakpoint-max(md) {
      padding: 0px 1em;
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.5;
    }
    * {
      color: black;
    }

    @include breakpoint-max(md) {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
    @include breakpoint-max(sm) {
    }
  }
}
