.fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1em;
}

.groupTitle {
    color: black;
}

.group {
    padding: 1em;
    background-color: #e5e5e571;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
    }
    .error {
        background-color: #e68787;
        color: white;
        text-align: center;
        border-radius: 100rem;
        font-size: 0.86rem;
        width: max-content;
        margin: auto;
        padding: 0.25 16px;
        margin-top: 1rem;
    }
}

.container {
    padding: 0 !important;
    * {
        box-shadow: none !important;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(228, 228, 228);
        padding: 2em;
        border-radius: 1rem;
        * {
            text-align: center;
        }
        * {
            color: black;
        }
    }
    .right {
        border-radius: 1rem;
        background-color: rgb(228, 228, 228);
    }
}

.iconClass {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    svg {
        position: relative;
        position: absolute;
    }
}

@media (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
        .left {
            padding: 1em;
            h2 {
                font-size: 1rem;
            }
        }
        .right {
            width: 100%;
            h2 {
                font-size: 1rem;
            }
            .group {
                padding: 1em 0;
            }
        }
    }
}
