.text {
    font-size: var(--app-section-description-font-size);
    opacity: 0.75;
    text-align: justify;
    line-height: 1.5 !important;

    &:lang(EN) {
        font-family: syne !important;
    }

    &:lang(FA) {
        font-size: 1rem;
        letter-spacing: 0px;
    }

    @media (max-width: 600px) {
        font-size: 1.1rem !important;
    }
}
