@import "src/assets/css/mixins";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: black;

  width: 100%;
  height: 100vh;

  position: relative;

  .drawer {
    width: 100%;
    height: 100%;
    position: static;
    // top: 3rem;

    .title {
      width: 100%;
      height: 5rem;
      position: sticky;
      top: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      z-index: 100;
      backdrop-filter: blur(0.5rem);
      background-color: rgba(228, 0, 57, 0.8);
      color: black;

      font-family: smooch-sans;
      font-size: 2rem;
      font-weight: 600;
      @include breakpoint-max(md) {
        top: 3.5rem;
      }
    }
  }

  .top {
    width: 80%;
    height: 100vh;
    min-height: 100vh;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @include breakpoint-max(sm) {
      margin-top: 35vw;
      margin-bottom: 5rem;
    }

    .info {
      display: flex;
      grid-template-columns: var(--services-section-right-width) 25rem;
      justify-content: center;
      align-items: center;
      gap: var(--services-section-gap);
      max-width: 51rem;
      width: 100%;

   

      @include breakpoint-max(sm) {
        flex-direction: column;
      }

      .right {
        min-width: 20rem;
        img {
          border-radius: 1rem;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 2rem;
        // font-size: 0.8rem;
        direction: ltr;

        h1 {
          font-family: smooch-sans;
          font-size: 3rem;
          font-weight: 600;
        }

        font-family: syne;
        p {
          text-align: justify;
        }
      }
    }

    .slider {
      max-width: 50rem;
      margin: 5rem 0;
      @include breakpoint-max(sm) {
        margin: 3rem 0;
      }
      .slide {
        img {
          border-radius: 0.75rem;
        }
      }
    }
  }

  .bottom {
    width: 80%;
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 100vh;
    padding-bottom: 15rem;
    @include breakpoint-max(md) {
      top: 120vh;
    }

    .services {
      display: flex;
      flex-direction: column;

      max-width: 80rem;
      margin-top: 20rem;
      gap: 10rem;
      .row {
        display: flex;
        align-items: center;
        gap: 2rem;
       flex-direction: row-reverse;
        @include breakpoint-max(sm) {
          flex-direction: column;
        }
        .left {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            max-width: 490px;
            // min-width: 490px;
          }
        }
        .right {
          width: 100%;
          direction: ltr;
          h1 {
            font-family: smooch-sans;
            font-size: 3rem;
            font-weight: 600;
          }
          p {
            font-family: syne;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
