@import "src/assets/css/mixins";

.container {
    @include gradient-border(1rem, 2px, #9c783523, #9c7835, 0deg);
    img {
        // border: 1px solid white;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include breakpoint-max(sm) {
            border-radius: 0.5rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
