@import "src/assets/css/mixins";

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 2rem;
  row-gap: 5rem;
  justify-items: center;
  margin: 0 auto;
  max-width: 80vw;
  
  @include breakpoint-max(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include breakpoint-max(sm) {
    grid-template-columns: repeat(1, 1fr);
  }

  .product {
    
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    background-color: rgb(46, 46, 46);
    border-radius: 1rem;
    border-bottom: 5px solid rgb(55, 55, 55);
    white-space: nowrap;

    img {
      object-fit: contain;
      border-radius: 1rem;
      background: url("/images/products-page/box.png");
      background-size: contain;
      background-repeat: no-repeat;
      aspect-ratio: 1 / 1;
      position: absolute;
      width: 12rem;
      top: -20%;
    }

    h2 {
      font-size: 1rem;
      padding-top: 7.5em;
    }
  }
}
