.text {
    display: flex;
    align-items: center;
    line-height: 0;
    font-size: 1rem !important;
    color: #d9d9d9;
    gap: 0.5rem;
    border: 1px solid currentColor;
    padding: 0.5em 0.5em;
    border-radius: 0.25rem;
    width: 100%;
    position: relative;
    * {
        color: inherit;
    }

    .field {
        width: 100%;
        height: 100%;
        select {
            width: 100%;
            background-color: transparent;
            padding: 0.25em;
            border: none;
            outline: none;
            option {
                color: black;
            }
        }
    }
}

html:lang("FA") {
    .text {
        direction: rtl;
    }
}
