@import "src/assets/css/mixins";

.ProductsFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--home-section-gap);
  padding: var(--home-section-padding);

  background-color: black;
  background-size: cover;
  background-position: right;
  flex-direction: row-reverse;
  gap: 7rem;
  direction: ltr;

  height: 100vh !important;

  font-family: smooch-sans;

  @include breakpoint-max(md) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    direction: ltr;

    @include breakpoint-max(xs) {
      width: 90%;
    }
    h1 {
      font-weight: 500;
      font-size: 2rem;
    }
    p {
      max-width: 53ch;
      line-height: 2rem;
      text-align: justify;
      direction: ltr;
      font-family: syne;
      font-size: 1.2rem;
    }

    button {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .right {
    position: relative;
    width: var(--home-section-right-width);
    display: flex;
    height: 30rem;

    @include breakpoint-max(md) {
      margin-bottom: 20rem;
      scale: 0.9;
    }

    @include breakpoint-max(sm) {
      scale: 0.7;
    }

    @include breakpoint-max(xs) {
      margin-bottom: 16rem;
    }

    margin-right: 10%;

    .first {
      background: url("/images/products-first/box.png");
      height: 13rem;
      width: 13rem;
      background-size: cover;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      img {
        width: 170%;
        height: 170%;
        object-fit: contain;
      }
    }

    .second {
      background: url("/images/products-first/box.png");
      height: 13rem;
      width: 13rem;
      background-size: cover;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 14rem;
      left: 0;
      z-index: 1;
      img {
        object-fit: contain;
      }
    }
    .third {
      background: url("/images/products-first/box.png");
      height: 13rem;
      width: 13rem;
      background-size: cover;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10rem;
      right: -5rem;
      img {
        object-fit: contain;
      }
    }
  }
}
