@import "src/assets/css/mixins";

.form {
  width: 90%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 4rem;

  font-size: 1rem;
  border: 1px solid;
  border-radius: 30px;

  padding: 2rem 4rem;

  margin: auto;
  margin-top: 10rem;
  margin-bottom: 15rem !important;

  @include breakpoint-max(sm) {
    margin-top: 5rem;
  }

  .Input {
    margin: 1rem 0;
    font-size: 18px;

    @include breakpoint-max(sm) {
      width: 100%;
      font-size: 1rem;
    }
    input {
      font-size: 18px;
    }
  }

  .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .names {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .checkboxGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;
    label{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }

  .product {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;

    gap: 3rem;
  }

  .size {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 3rem;
  }
}
