@import "src/assets/css/mixins";

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5em;
  @include breakpoint-max(md) {
    padding: 2em;
  }

  width: 100%;
  .left {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    gap: 1rem;
    max-width: 800px;

    img {
      border: 1px solid white;
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      @include breakpoint-max(sm) {
        border-radius: 0.5rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .right {
    width: 80%;
    margin: 4rem;
  }

  .masonryGrid {
    display: flex;
    width: 90%;
    margin-top: 70px;
    
  }

  .masonryGridColumn {
    padding-left: 16px;
    background-clip: padding-box;
 
 

    .frame { 
      margin-bottom: 1rem;
      @include gradient-border(1rem, 2px, #9c783523, #9c7835, 0deg);
      img {
        // border: 1px solid white;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include breakpoint-max(sm) {
          border-radius: 0.5rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    

    img:hover {
      cursor: pointer;
    }
  }
 
  .big {
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .small {
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  
}
